/*FRONT PAGE*/
#nuevocontenedor {
    width: 1024px;
    height: auto;
    position: relative;
    margin: 28px auto;
    background-color: green;
    box-shadow: 0 0 10px 10px #b4b4b4;
}

#newcontenido {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    background: #FAFFF8;
}

#footer {
    height: 72px;
    padding-top: 0;
    /*background-image: url("../images/background_footer.jpg");*/
    background: linear-gradient(to bottom, rgb(113, 192, 67), rgb(56, 133, 55));
    text-align: center;
}

#footer p {
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Calibri, "Calibri Light", sans-serif;
    font-size: 12px;
    text-align: center;
}

#p1 {
    font-weight: lighter;
}

#p2 {
    font-weight: normal;
}

/*COMPANY*/
/*IMAGE'S CAPTION*/
#company-content {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

#company-content a, p {
    font-family: Calibri, serif;
    font-style: normal;
    text-align: justify;
    line-height: normal;
    color: #548953;
}

#company-content img {
    vertical-align: middle;
}

.company-content-text {
    height: auto;
}

.company-content-text h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: lighter;
    color: #B21400;
}

.company-content-text h1 {
    font-size: 24pt;
    text-align: center;
}

.company-content-text h2 {
    font-size: 20pt;
}

.company-content-text p {
    margin-bottom: 10px;
    vertical-align: top;
}

.products-horizontal-separator {
    height: 1px;
}

.products-category {
    width: 98%;
    margin: 0 auto;
}

.products-subcategory {
    width: 95%;
    margin: 0 auto;
    text-align: left;
}

.products-subcategory h3 {
    font-size: 18pt;
    color: #279701;
}

.products-product {
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid lightgray;
    display: inline-block;
    text-align: left;
}

/*.products-container-product{*/
/**/
/*}*/

/*.products-container-product:last-child{*/
/*border-bottom: 1px solid #d3d3d3;*/
/*}*/

.products-product-text {
    width: 65%;
    float: left;
    margin-top: 10px;
}

.products-product-text h5 {
    color: #2DB200;;
}

.products-product-text h4 {
    color: #217C02;
    font-size: 16pt;
    font-weight: bold;
}

.products-product-picture {
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products-product-picture img {
    box-shadow: 2px 2px 5px #8A8A8A;
}

.products-product-concentration-table {

}

.products-product-concentration-table-concentration {
    float: left;
    width: 30%;
}

.products-product-concentration-table-presentation {
    float: left;
    width: 70%;
}

.news {
    margin-bottom: 10px;
}

.news h2 {
    color: #0D570C;
}

.news a:link {
    text-decoration: none;
    text-underline-style: none;
}

.news-content {
    display: none;
}

.news-content img {
    float: left;
    box-shadow: 2px 2px 5px #8A8A8A;
    margin-right: 14px;
    margin-top: 5px;
}

.news-title {
    cursor: pointer;
}

.news-container {
    display: none;
    border-bottom: 1px solid lightgray;
}

.image-gallery {
    border-bottom: 10px solid transparent;
}