{% extends 'index_new.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jqx.base.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style_company.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/menu_products.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'flex_images/jquery.flex-images.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/company.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/jquery-1.6.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/atooltip.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jqtransform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqxcore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqxmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jq.js' %}"></script>
{% endblock %}
{% block container %}
    <section>
        <div style="position: relative">
            <div>
                <img style="display: block" src="{% static 'images/FachadaFrifarma.jpg' %}" width="1024">
            </div>
            <div style="position: relative">
                <div id="image_caption" style="display: none">
                    <p id="">Sede de FriFarma S.L.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="newcontenido">
            <div id="company-content">
                <div class="company-content-text">
                    <h1 style="text-align: center">Acerca de nosotros</h1>

                    <p>Frifarma SRL se fundo en Julio-2005 con el propósito de iniciar la
                        importación y distribución de medicamentos genéricos de marcas de
                        primera calidad con exclusividad para el territorio dominicano. El origen inicial fueron
                        los Laboratorios Richet de Argentina, empresa con más de 50 años de fundada.
                        Durante el 2006 se logro obtener la Licencia de las autoridades sanitarias de Republica Dominicana y a partir de
                        esta accion se inicio el trabajo de registro sanitario de nuestros
                        principales productos.</p>

                    <p>Atendiendo al interes de las autoridades sanitarias dominicanas en la
                        reduccion de la mortalidad infantil nuestras primeras ventas
                        comenzaron por el Surfactante Pulmonar Bovino a la entidad
                        Promese. Posteriormente se inicio un trabajo de promocion e
                        introduccion de los medicamentos principales (Anti infecciosos) en
                        centros hospitalarios del pais con gran calidad y prestigio como Plaza
                        de la Salud-Cedimat-HOMS entre otros.</p>

                    <p>Durante los años 2008 y 2010 se registraron medicamentos de otras
                        prestigiosas fabricas de Corea (KUP) y de India (BDR). El CIMAB de
                        Cuba nos otorgo la representacion comercial en el pasado 2014.</p>

                    <p>De nuestros primeros años de ventas al presente hemos ido ganando cada
                        dia nuevos clientes con prestigio y calidad demostrada en nuestros
                        productos.</p>
                </div>
                <div class="horizontal-separator">
                </div>
                <div class="board" id="board">
                    <h1 style="text-align: center">Junta directiva</h1>

                    <div id="board_v1" style="display: block;">
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Alba Frisenda</strong></a>
                                <br>

                                <p>Presidenta</p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Osvaldo Vela</strong></a>
                                <br>

                                <p>Vicepresidente</p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Rufino Santos</strong></a>
                                <br>

                                <p>Gerente de Comercialización</p>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Anderling Ortiz</strong></a>
                                <br>

                                <p>Gerente de Comercialización</p>
                            </div>
                        </div>
                        <div class="member" style="border-bottom: 0px none">
                            <div class="member-show-info">
                                <a><strong>Gianluca Quadri</strong></a>
                                <br>

                                <p>Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal-separator"></div>
                <div id="image-gallery" class="company-content-text">
                    <h1 style="text-align: center">Galería de Fotos</h1>
                </div>
                <div id="image_gallery_v1">
                    <div id="demo1" class="flex-images">
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image19.jpg' %}"><a>Alba Frisenda, Presidenta</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image11.jpg' %}"><a>Osvaldo Vela, Vicepresidente</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image13.jpg' %}"><a>Rufino Santos, Gerente de Comercialización</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image14.jpg' %}"><a>Anderling Ortiz, Gerente de Comercialización</a></div>
                        <div class="item" data-w="500" data-h="278"><img src="{% static 'images/about_pics/image01.jpg' %}"><a>Conferencia del Dr. Jorge Tavosnanka</a></div>
                        {#                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image04.jpg' %}"><a>Descripción</a></div>#}
                        {#                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image05.jpg' %}"><a>Descripción</a></div>#}
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image06.jpg' %}"><a>Almacén</a></div>
                        {#                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image07.jpg' %}"><a>Descripción</a></div>#}
                        {#                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image08.jpg' %}"><a>Descripción</a></div>#}

                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image12.jpg' %}"><a>Departamento Comercial</a></div>


                        <div class="item" data-w="500" data-h="278"><img src="{% static 'images/about_pics/image02.jpg' %}"><a>Conferencia del Dr. Jorge Tavosnanka</a></div>
                        {#                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image22.jpg' %}"><a>Descripción</a></div>#}
                        <div class="item" data-w="500" data-h="278"><img src="{% static 'images/about_pics/image23.jpg' %}"><a>Conferencia del Dr. Jorge Tavosnanka</a></div>
                    </div>
                </div>
                <div id="last-line" style="height: 5px">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                switch (theme) {
                    case 'shinyblack':
                        $($.find('.megamenu-ul li a:link')).css('color', '#fff');
                        $($.find('.megamenu-ul li a:hover')).css('color', '#fff');
                        $($.find('.megamenu-ul li a:visited')).css('color', '#fff');
                        $($.find('.jqx-menuitem-header')).css('color', '#fff');
                        break;
                    default:
                        $($.find('.megamenu-ul li a:link')).css('color', '#2d628a');
                        $($.find('.megamenu-ul li a:hover')).css('color', '#2d628a');
                        $($.find('.megamenu-ul li a:visited')).css('color', '#2d628a');
                        $($.find('.jqx-menuitem-header')).css('color', '#2d628a');
                        break;
                }
            }
            catch (error) {
            }

            // Create a jqxMenu
            $("#jqxMenu").jqxMenu({
                width: '1024px',
                height: '50px',
                autoOpen: true,
                autoCloseOnMouseLeave: true,
                showTopLevelArrows: false
            });
            $("#jqxMenu").css('visibility', 'visible');
            $(".buyonline").jqxLinkButton({width: 150, height: 25});
            $(".jqx-menu-search").jqxButton({width: 60, height: 17});
        });
    </script>
    <script>
        pictures();
    </script>
    <script src="{% static 'flex_images/jquery.flex-images.js' %}"></script>
    <script>
        $('.flex-images').flexImages({rowHeight: 250});
    </script>
{% endblock %}