{% extends 'index_new.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jqx.base.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style_company.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/menu_products.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'flex_images/jquery.flex-images.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/company.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/jquery-1.6.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/atooltip.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jqtransform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqxcore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqxmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jq.js' %}"></script>
{% endblock %}
{% block container %}
    <section>
        <div style="position: relative">
            <div style="height: 620px">
                <img style="display: block" src="{% static 'images/Fachada_with-logo_v2.jpg' %}" width="1024" height="620">
            </div>
            <div style="position: relative">
                <div id="image_caption" style="display: none">
                    <p id="">Sede de FriFarma S.L.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="newcontenido">
            <div id="company-content">
                <div class="company-content-text">
                    <h1 style="text-align: center">Acerca de nosotros</h1>

                    <p>El texto de aquí puede ser tan largo como se quiera, sin embargo se recomienda no exceder de las 200 palabras (porque de lo contrario no se lo lee nadie).
                        Debe estar escrito en primera persona.</p>

                    <p>Aquí se debe comenzar haciendo algo de historia para luego explicar las líneas de trabajo fundamentales, mencionar los productos principales así como los clientes fundamentales. No deben olvidarse
                        los contratos de exclusividad (si se tienen de las firmas de estos contratos deben ponerse en la galería que está más abajo).
                    </p>

                    <p>Se deben mencionar los premios y reconocimientos recibidos (si se tienen las podemos poner en la galería de imágenes más abajo)</p>

                    <p>Por regla general se debe terminar hablando acerca de las próximos pasos que dará la empresa (nuevos productos que vienen, nuevos productos, nuevos mercados, ....).</p>

                    <p>Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba. Texto de prueba.</p>
                </div>
                <div class="horizontal-separator">
                </div>
                <div class="board" id="board">
                    <h1 style="text-align: center">Junta directiva</h1>

                    <div id="board_v1" style="display: block;">
                        <div class="hide-show">
                            <a id="expand_all" onclick="expand()">
                                <img src="{% static 'images/plus.png' %}" width="17" height="12"> Expandir todos
                            </a>
                            <a id="collapse_all" onclick="collapse()" style="display: none">
                                <img src="{% static 'images/minus.png' %}" width="17" height="12"> Contraer todos
                            </a>
                        </div>
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Nombre y apellidos</strong></a>
                                <br>

                                <p>Cargo</p>
                            </div>
                            <div class="member-extra-info">
                                <div class="inside_info">
                                    <img src="{% static 'images/people/mary-cirillo.jpg' %}">

                                    <p>Aquí debe ir una pequeño historia de la persona, donde debe estar lo siguiente: carrera y universidad en el que estudió, año en qué comenzó a trabajar en la empresa
                                        , otras empresas en las que ha trabajado. No debe faltar si la persona es un doctor o tiene algún grado científico. Este texto no debe exceder de las 60 palabras.</p>

                                    <p>Correo:<a href="mailto:correo@yahoo.es">correo@yahoo.es</a></p>
                                </div>
                                {#                                <div style="position: relative">#}
                                {#                                    <div class="correo">#}
                                {#                                        <p>Correo:<a href="mailto:correo@yahoo.es">correo@yahoo.es</a></p>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Nombre y apellidos</strong></a>
                                <br>

                                <p>Cargo</p>
                            </div>
                            <div class="member-extra-info">
                                <div class="inside_info">
                                    <img src="{% static 'images/people/jim-smith.jpg' %}">

                                    <p>El señor Juan Pérez </p>
                                </div>
                                <div style="position: relative">
                                    <div class="correo">
                                        <p>Correo:<a href="mailto:correo@yahoo.es">correo@yahoo.es</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Nombre y apellidos</strong></a>
                                <br>

                                <p>Cargo</p>
                            </div>
                            <div class="member-extra-info">
                                <div class="inside_info">
                                    <img src="{% static 'images/people/peter-thomson.jpg' %}">

                                    <p>Poner la historia</p>
                                </div>
                                <div style="position: relative">
                                    <div class="correo">
                                        <p>Correo:<a href="mailto:correo@yahoo.es">correo@yahoo.es</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-show-info">
                                <a><strong>Nombre y apellidos</strong></a>
                                <br>

                                <p>Cargo</p>
                            </div>
                            <div class="member-extra-info">
                                <div class="inside_info">
                                    <img src="{% static 'images/people/michele-burns-100x100.jpg' %}">

                                    <p>Poner la historia</p>
                                </div>
                                <div style="position: relative">
                                    <div class="correo">
                                        <p>Correo:<a href="mailto:correo@yahoo.es">correo@yahoo.es</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member" style="border-bottom: 0px none">
                            <div class="member-show-info">
                                <a><strong>Nombre y apellidos</strong></a>
                                <br>

                                <p>Cargo</p>
                            </div>
                            <div class="member-extra-info">
                                <div class="inside_info">
                                    <img src="{% static 'images/people/wulf-von-schimmelmann.jpg' %}">

                                    <p>Poner la historia</p>
                                </div>
                                <div style="position: relative">
                                    <div class="correo">
                                        <p>Correo:<a href="mailto:correo@yahoo.es">correo@yahoo.es</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal-separator"></div>
                <div id="image-gallery" class="company-content-text">
                    <h1 style="text-align: center">Galería de Fotos</h1>
                </div>
                <div id="image_gallery_v1">
                    <div id="demo1" class="flex-images">
                        <div class="item" data-w="500" data-h="278"><img src="{% static 'images/about_pics/image01.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image04.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image05.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image06.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image07.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image08.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image09.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image11.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image12.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image13.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image14.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="278"><img src="{% static 'images/about_pics/image02.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image15.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image16.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image17.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image18.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image19.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image20.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="375"><img src="{% static 'images/about_pics/image22.jpg' %}"><a>Descripción</a></div>
                        <div class="item" data-w="500" data-h="278"><img src="{% static 'images/about_pics/image23.jpg' %}"><a>Descripción</a></div>
                    </div>
                </div>
                <div id="last-line" style="height: 5px">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                switch (theme) {
                    case 'shinyblack':
                        $($.find('.megamenu-ul li a:link')).css('color', '#fff');
                        $($.find('.megamenu-ul li a:hover')).css('color', '#fff');
                        $($.find('.megamenu-ul li a:visited')).css('color', '#fff');
                        $($.find('.jqx-menuitem-header')).css('color', '#fff');
                        break;
                    default:
                        $($.find('.megamenu-ul li a:link')).css('color', '#2d628a');
                        $($.find('.megamenu-ul li a:hover')).css('color', '#2d628a');
                        $($.find('.megamenu-ul li a:visited')).css('color', '#2d628a');
                        $($.find('.jqx-menuitem-header')).css('color', '#2d628a');
                        break;
                }
            }
            catch (error) {
            }

            // Create a jqxMenu
            $("#jqxMenu").jqxMenu({
                width: '1024px',
                height: '50px',
                autoOpen: true,
                autoCloseOnMouseLeave: true,
                showTopLevelArrows: false
            });
            $("#jqxMenu").css('visibility', 'visible');
            $(".buyonline").jqxLinkButton({width: 150, height: 25});
            $(".jqx-menu-search").jqxButton({width: 60, height: 17});
        });
    </script>
    <script>
        pictures();
    </script>
    <script src="{% static 'flex_images/jquery.flex-images.js' %}"></script>
    <script>
        $('.flex-images').flexImages({rowHeight: 151});
    </script>
{% endblock %}