<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title>
        Acerca de nosotros - FriFarma
    </title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/jqx.base.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/style_products.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/my_style.css" type="text/css"/>
    <link rel="stylesheet" href="css/menu_products.css" type="text/css"/>
    <link rel="stylesheet" href="flex_images/jquery.flex-images.css" type="text/css">
    <script type="text/javascript" src="js/jquery-1.6.js"></script>
    <script type="text/javascript" src="js/atooltip.jquery.js"></script>
    <script type="text/javascript" src="js/jquery.jqtransform.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jqxcore.js"></script>
    <script type="text/javascript" src="js/jqxmenu.js"></script>
    <script type="text/javascript" src="js/company.js"></script>
</head>
<body>
<div id="nuevocontenedor">
    <header>
        <img style="display:block" width="1024px" height="92px" src="images/banner_top.jpg">
    </header>
    <nav>
        <div id='jqxWidget' style="height: 50px">
            <div id='jqxMenu'
                 style="visibility: visible; vertical-align: middle; display: block; outline: none; border:0px;">
                <ul>
                    <li id="lgfr" style="vertical-align: middle; cursor: default">
                        <div class="div_sub_menu" style="padding-top: 8px; width: 100px">
                            <!--<img style="vertical-align: middle" width="145" height="30"-->
                            <!--src="images/logo_fri.png">-->
                        </div>
                    </li>
                    <li>
                        <div class="div_sub_menu">
                            <a href="index.html">
                                <span>Inicio</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="div_sub_menu">
                            <a href="#Education">
                                <span>La compañía</span>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="company.html">
                                    <span>Acerca de nosotros</span>
                                </a>
                            </li>
                            <li>
                                <a href="company.html#board">
                                    <span>Junta directiva</span>
                                </a>
                            </li>
                            <li>
                                <a href="company.html#image-gallery">
                                    <span>Galería de fotos</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="div_sub_menu">
                            <a><span>Productos</span></a>
                        </div>
                        <ul>
                            <li><a>Surfactante</a>
                            </li>
                            <li><a>Antibióticos</a>
                                <ul>
                                    <li>
                                        <a>Penicilinas</a>
                                    </li>
                                    <li>
                                        <a>Polipeptídicos</a>
                                    </li>
                                    <li>
                                        <a>Cefalosporinas</a>
                                    </li>
                                    <li>
                                        <a>Lincomicinas</a>
                                    </li>
                                    <li>
                                        <a>Macrolidos</a>
                                    </li>
                                    <li>
                                        <a>Monobactámicos</a>
                                    </li>
                                    <li>
                                        <a>Oxazolidinonas</a>
                                    </li>
                                    <li>
                                        <a>Carbapenemicos</a>
                                    </li>
                                    <li>
                                        <a>Glucopéptidos</a>
                                    </li>
                                    <li>
                                        <a>Antituberculosos</a>
                                    </li>
                                    <li>
                                        <a>Antivirales</a>
                                    </li>
                                    <li>
                                        <a>Carbapenemicos</a>
                                    </li>
                                    <li>
                                        <a>Antifúngicos</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a>Cardiológicos</a>
                            </li>
                            <li>
                                <a>Gastroenterológicos</a>
                            </li>
                            <li><a>Esteroides</a>
                            </li>
                            <li>
                                <a>Hematológicos</a>
                            </li>
                            <li>
                                <a>Oncológicos</a>
                                <ul style="width: 190px">
                                    <li>
                                        <a>Agentes hormonales</a>
                                    </li>
                                    <li>
                                        <a>Alquilantes</a>
                                    </li>
                                    <li>
                                        <a>Antimetabolitos</a>
                                    </li>
                                    <li>
                                        <a>Derivados de antibióticos</a>
                                    </li>
                                    <li>
                                        <a>Otros</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a>Antagonista de las benzodiacepinas</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="div_sub_menu">
                            <a><span>Proveedores exclusivos</span></a>
                        </div>
                        <ul class="sub_suppliers">
                            <div class="sub_suppliers_div">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                       style="border-collapse: collapse; border-spacing: 0px">
                                    <tr>
                                        <td colspan="4" class="div_title"
                                            style="border-bottom:solid 1px #3b732e; height: 29px;">Proveedores
                                            exclusivos
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;
                                        </td>
                                    </tr>
                                    <tr class="first_line">
                                        <td align="center"><img src="images/richet_small.jpg" width="100" height="100"
                                                                alt=""/></td>
                                        <td align="center"><img src="images/BDR.jpg" width="100" height="100" alt=""/>
                                        </td>
                                        <td align="center"><img src="images/KPR.jpg" width="100" height="100" alt=""/>
                                        </td>
                                        <td align="center"><img src="images/logo_CIMAB.jpg" width="100" height="100"
                                                                alt=""/>
                                        </td>
                                    </tr>
                                    <tr class="tr_inner">
                                        <td align="center" valign="top">
                                            <a href="#">Laboratorios Richet</a>
                                        </td>
                                        <td align="center" valign="top">
                                            <a href="#">BDR Pharmaceuticals </a>
                                        </td>
                                        <td align="center" valign="top">
                                            <a href="#">Korea United Pharm</a>
                                        </td>
                                        <td align="center" valign="top">
                                            <a href="#">CIMAB</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" colspan="4" style="padding-left:0; padding-right:0">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="left" valign="middle" class="td_bottom">
                                            <a href="#" class="other_cat">Ver todos los proveedores</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <div class="div_sub_menu">
                            <a href="#Education"><span>Noticias y eventos</span></a>
                        </div>
                    </li>
                    <li>
                        <div class="div_sub_menu">
                            <input id="to_search" class="jqx-input jqx-widget-content" onmouseover="to_Search()"
                                   onmouseout="when_out()"
                                   style="float: left; height: 22px; width: 130px;margin-top: 3px; border-radius: 7px; text-align: center; color:#808080;"
                                   placeholder="Buscar"/>
                        </div>
                    </li>
                    <li style="border-right-color: #0F6327">
                        <div class="div_sub_menu">
                            <a href="#Education"><span>Idiomas</span></a>
                        </div>
                        <ul>
                            <li>
                                <img src="images/spain.jpg" width="30px" height="20px">
                                <a href="#Education">
                                    <span style="vertical-align: super">&nbsp; Español</span>
                                </a>
                            </li>
                            <li>
                                <img src="images/UK.jpg" width="30px" height="20px">
                                <a href="#Education">
                                    <span style="vertical-align: super">&nbsp; English</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <br/>
        </div>
    </nav>
    <section>
        <div id="newcontenido">
            <div id="company-content">
                <div class="company-content-text">
                    <h1 style="padding-top: 5px">Productos</h1>

                    <div class="products-category">
                        <h2 id="surfactantes">Surfactantes</h2>

                        <div class="products-subcategory">
                            <div class="products-container-product" style="text-align: center">
                                <div class="products-product">
                                    <div class="products-product-text">
                                        <h4>Surfactante B</h4>
                                        <h5>Suspensión intratraqueal</h5>

                                        <p style="margin-top: 7px"><strong>Principio Activo:</strong>
                                            Surfactante pulmonar bovino</p>

                                        <p><strong>Proveedor: </strong>Laboratorios Richet S.A. </p>

                                        <p><strong>Grupo terapéutico: </strong>Surfactantes</p>

                                        <p><strong>Acción terapéutica: </strong>PS.D.R en neonatos.</p>

                                        <div class="products-product-concentration-table">
                                            <div class="products-product-concentration-table-concentration">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Concentración</strong>
                                                </p>

                                                <p>
                                                    30 mg/mL
                                                </p>

                                                <p>
                                                    25 mg/mL
                                                </p>
                                            </div>
                                            <div class="products-product-concentration-table-presentation">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Presentación</strong>
                                                </p>

                                                <p>
                                                    Frasco amp. x 90mg x 120 mg, x 240 mg
                                                </p>

                                                <p>
                                                    Frasco ampolla x 200 mg
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-product-picture">
                                        <img src="images/productos/Surfactante%20B%20-%202.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-category">
                        <h2 id="antibioticos">Antibióticos</h2>

                        <div class="products-subcategory">
                            <h3 id="penicilinas">Penicilinas</h3>

                            <div style="text-align: center">
                                <div class="products-product">
                                    <div class="products-product-text">
                                        <h4>Piperacilina-Tazobactam</h4>
                                        <h5>Inyectable</h5>

                                        <p style="margin-top: 7px"><strong>Principio Activo:</strong>
                                            Piperacilina sódica
                                            + Tazobactam sódica</p>

                                        <p><strong>Proveedor: </strong>Laboratorios Richet S.A. </p>

                                        <p><strong>Grupo terapéutico: </strong>Antibióticos-Penicilinas. </p>

                                        <p><strong>Acción terapéutica: </strong>Penicilina con acción antipseudomonal con un inhibidor de las bectalactamasas.</p>

                                        <div class="products-product-concentration-table">
                                            <div class="products-product-concentration-table-concentration">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Concentración</strong>
                                                </p>

                                                <p>
                                                    30 mg/mL
                                                </p>

                                                <p>
                                                    25 mg/mL
                                                </p>
                                            </div>
                                            <div class="products-product-concentration-table-presentation">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Presentación</strong>
                                                </p>

                                                <p>
                                                    Frasco amp. x 90mg x 120 mg, x 240 mg
                                                </p>

                                                <p>
                                                    Frasco ampolla x 200 mg
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-product-picture">
                                        <img src="images/productos/Piperacilina.jpg">
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center">
                                <div class="products-product">
                                    <div class="products-product-text">
                                        <h4>Sultamicilina</h4>
                                        <h5>Inyectable</h5>

                                        <p style="margin-top: 7px"><strong>Principio Activo:</strong>
                                            Ampicilina Sódica- Sulbactam Sódico.</p>

                                        <p><strong>Proveedor: </strong>Laboratorios Richet S.A. </p>

                                        <p><strong>Grupo terapéutico: </strong>Antibióticos-Penicilinas. </p>

                                        <p><strong>Acción terapéutica: </strong>Antibiótico de amplio espectro con un inhibidor de la bectalactamasas.</p>

                                        <div class="products-product-concentration-table">
                                            <div class="products-product-concentration-table-concentration">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Concentración</strong>
                                                </p>

                                                <p>
                                                    1,5 g
                                                </p>
                                            </div>
                                            <div class="products-product-concentration-table-presentation">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Presentación</strong>
                                                </p>

                                                <p>
                                                    Frasco ampolla x 1
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-product-picture">
                                        <img src="images/productos/Piperacilina.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products-subcategory">
                            <h3 id="polipeptidicos">Polipeptídicos</h3>

                            <div style="text-align: center">
                                <div class="products-product">
                                    <div class="products-product-text">
                                        <h4>Colistina</h4>
                                        <h5>Inyectable</h5>

                                        <p style="margin-top: 7px"><strong>Principio Activo:</strong>
                                            Colistina metansulfonato</p>

                                        <p><strong>Proveedor: </strong>Laboratorios Richet S.A. </p>

                                        <p><strong>Grupo terapéutico: </strong>Antibióticos-Polipeptídicos</p>

                                        <p><strong>Acción terapéutica: </strong>Antibiótico.</p>

                                        <div class="products-product-concentration-table">
                                            <div class="products-product-concentration-table-concentration">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Concentración</strong>
                                                </p>

                                                <p>
                                                    100 mg
                                                </p>
                                            </div>
                                            <div class="products-product-concentration-table-presentation">
                                                <p style="margin-bottom: 5px">
                                                    <strong>Presentación</strong>
                                                </p>

                                                <p>
                                                    Frasco Ampolla x 1(con amp solv. x 2 mL)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-product-picture">
                                        <img src="images/productos/Colistina.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="last-line" style="height: 5px">
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <p style="padding-top:12px" id="p1">Frifarma S.A. Calle Hatuey # 196. "Los Cacicazgos" Santo Domingo. República
            Dominicana. </p>

        <p id="p2"><strong> Teléfono : 1809 4829958 Fax: 1809
            4820300 / email: <a style="text-decoration:none; color:#ffffff"
                                href="mailto:campani.frifarma@yahoo.it">campani.frifarma@yahoo.it</a></strong>
        </p>
    </footer>
</div>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        try {
            switch (theme) {
                case 'shinyblack':
                    $($.find('.megamenu-ul li a:link')).css('color', '#fff');
                    $($.find('.megamenu-ul li a:hover')).css('color', '#fff');
                    $($.find('.megamenu-ul li a:visited')).css('color', '#fff');
                    $($.find('.jqx-menuitem-header')).css('color', '#fff');
                    break;
                default:
                    $($.find('.megamenu-ul li a:link')).css('color', '#2d628a');
                    $($.find('.megamenu-ul li a:hover')).css('color', '#2d628a');
                    $($.find('.megamenu-ul li a:visited')).css('color', '#2d628a');
                    $($.find('.jqx-menuitem-header')).css('color', '#2d628a');
                    break;
            }
        }
        catch (error) {
        }

        // Create a jqxMenu
        $("#jqxMenu").jqxMenu({
            width: '1024px',
            height: '50px',
            autoOpen: true,
            autoCloseOnMouseLeave: true,
            showTopLevelArrows: false
        });
        $("#jqxMenu").css('visibility', 'visible');
        $(".buyonline").jqxLinkButton({width: 150, height: 25});
        $(".jqx-menu-search").jqxButton({width: 60, height: 17});
    });
</script>
<script>
    pictures();
</script>
<script src="flex_images/jquery.flex-images.js"></script>
<script>
    $('.flex-images').flexImages({rowHeight: 151});
</script>
</html>