{% extends 'index_new.html' %}
{% load url from future %}{% load thumbnail %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jqx.base.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style_products.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/menu_products.css' %}" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.6.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/atooltip.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jqtransform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqxcore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqxmenu.js' %}"></script>
{% endblock %}
{% block container %}
    <section>
        <div id="newcontenido">
            <div id="company-content">
                <div class="company-content-text">
                    <h1 style="padding-top: 5px">Productos</h1>
                    {% for key, values in collection.items %}
                        {% if not key.1 %}
                            <div class="products-category">
                                <h2 id="surfactantes">{{ key.0 }}</h2>

                                <div class="products-subcategory">
                                    <div class="products-container-product" style="text-align: center">
                                        {% for tuple in values %}
                                            <div class="products-product">
                                                <div class="products-product-text">
                                                    <h4>{{ tuple.0 }}</h4>
                                                    <h5>{{ tuple.1 }}</h5>

                                                    <p style="margin-top: 7px"><strong>Principio Activo:</strong>
                                                        {{ tuple.4 }}</p>

                                                    <p><strong>Proveedor:</strong>
                                                        {% for x in tuple.3 %}
                                                            {{ x }}
                                                        {% endfor %}
                                                    </p>

                                                    <p><strong>Grupo terapéutico: </strong>{{ key.0 }}</p>

                                                    <p><strong>Acción terapéutica: </strong>{{ tuple.5 }}</p>

                                                    <div class="products-product-concentration-table">
                                                        <div class="products-product-concentration-table-concentration">
                                                            <p style="margin-bottom: 5px">
                                                                <strong>Concentración</strong>
                                                            </p>
                                                            {% for x in tuple.6 %}
                                                                <p>
                                                                    {{ x }}
                                                                </p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="products-product-concentration-table-presentation">
                                                            <p style="margin-bottom: 5px">
                                                                <strong>Presentación</strong>
                                                            </p>

                                                            {% for x in tuple.7 %}
                                                                <p>
                                                                    {{ x }}
                                                                </p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="products-product-picture">
                                                    {% if tuple.2 %}
                                                        <img src="{{ tuple.2.url }}" width="{{ tuple.2.width }}" height="{{ tuple.2.height }}" alt="{{ tuple.0 }}">
                                                    {% else %}
                                                        <img src="{% static '' %}" alt="{{ tuple.0 }}" width="250px" height="236px">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="products-category">
                                <h2 id="antibioticos">{{ key.0 }}</h2>
                                {% for keys, val in values.items %}
                                    <div class="products-subcategory">
                                        <h3 id="penicilinas">{{ keys }}</h3>

                                        <div style="text-align: center">
                                            {% for v in val %}
                                                <div class="products-product">
                                                    <div class="products-product-text">
                                                        <h4>{{ v.0 }}</h4>
                                                        <h5>{{ v.1 }}</h5>

                                                        <p style="margin-top: 7px"><strong>Principio Activo:</strong>
                                                            {{ v.4 }}</p>

                                                        <p><strong>Proveedor:</strong>
                                                            {% for x in v.3 %}
                                                                {{ x }}
                                                            {% endfor %}
                                                        </p>

                                                        <p><strong>Grupo terapéutico: </strong>{{ key.0 }}
                                                            - {{ keys }}. </p>

                                                        <p><strong>Acción terapéutica: </strong>{{ v.5 }}.</p>

                                                        <div class="products-product-concentration-table">
                                                            <div class="products-product-concentration-table-concentration">
                                                                <p style="margin-bottom: 5px">
                                                                    <strong>Concentración</strong>
                                                                </p>

                                                                {% for x in v.6 %}
                                                                    <p>{{ x }}</p>
                                                                {% endfor %}

                                                            </div>
                                                            <div class="products-product-concentration-table-presentation">
                                                                <p style="margin-bottom: 5px">
                                                                    <strong>Presentación</strong>
                                                                </p>
                                                                {% for x in v.7 %}
                                                                    <p>{{ x }}</p>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="products-product-picture">
                                                        {% if v.2 %}
                                                            <img src="{{ v.2.url }} " width="{{ v.2.width }}" height="{{ v.2.height }}" alt="{{ v.0 }}">
                                                        {% else %}
                                                            <img src="{% static '' %}" alt="{{ v.0 }}" width="250px" height="236px">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="last-line" style="height: 5px">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            try {
                switch (theme) {
                    case 'shinyblack':
                        $($.find('.megamenu-ul li a:link')).css('color', '#fff');
                        $($.find('.megamenu-ul li a:hover')).css('color', '#fff');
                        $($.find('.megamenu-ul li a:visited')).css('color', '#fff');
                        $($.find('.jqx-menuitem-header')).css('color', '#fff');
                        break;
                    default:
                        $($.find('.megamenu-ul li a:link')).css('color', '#2d628a');
                        $($.find('.megamenu-ul li a:hover')).css('color', '#2d628a');
                        $($.find('.megamenu-ul li a:visited')).css('color', '#2d628a');
                        $($.find('.jqx-menuitem-header')).css('color', '#2d628a');
                        break;
                }
            }
            catch (error) {
            }

            // Create a jqxMenu
            $("#jqxMenu").jqxMenu({
                width: '1024px',
                height: '50px',
                autoOpen: true,
                autoCloseOnMouseLeave: true,
                showTopLevelArrows: false
            });
            $("#jqxMenu").css('visibility', 'visible');
            $(".buyonline").jqxLinkButton({width: 150, height: 25});
            $(".jqx-menu-search").jqxButton({width: 60, height: 17});
        });
    </script>
{% endblock %}
